.tb-teme-student{
    width:100%!important;
    margin-left: 0.8%!important;
    margin-bottom: 3%!important;
    border-color:dodgerblue!important;

}
.titlu{
    margin-left: 30%!important;
    font-size: 200%!important;
    padding-bottom: 4%!important;
}
.spatiu{
    margin-right:5%!important; ;
}

.body{
   /* font-family: "UT Sans", sans-serif;*/
    margin-left: 8%!important;
    margin-right: 8%!important;
}
.cr-text{
margin-top: 5%!important;

}
.teme-textArea{
    width: 100%!important;
}
.savebutton{
    margin-top: 2%!important;
}

.dropdown-r{
    margin-right: 5%!important;
    width: 84vmax!important;
}
.fptrow{
    width:30%!important;
}
TextArea{
    width:100%!important;
}
.sizetablecell{
    width:50%!important;
}